In [7]:
import pandas as pd

In [12]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('filtered.csv')

# Dictionary to map courses to their abbreviations
course_abbreviations = {
    "B.Tech Mechanical Engineering": "BT_ME",
    "B.Tech Computer Science and Engineering": "BT_CSE",
    "B.Tech Electrical Engineering": "BT_EE",
    "B.Tech Civil Engineering": "BT_CE",
    "B.Tech Electronics and Communication Engineering": "BT_ECE",
    "B.Tech Chemical Engineering": "BT_ChemE",
    "M.Tech Chemical Engineering": "MT_ChemE",
    "M.Tech Communication and Networks": "MT_CN",
    "M.Tech Computer Science": "MT_CS"
}

# Function to filter and replace courses with their abbreviations
def filter_and_replace_courses(courses):
    if isinstance(courses, str):  # Only process if the value is a string
        filtered_courses = [
            course_abbreviations[course.strip()]
            for course in courses.split(',')
            if course.strip() in course_abbreviations
        ]
        return ', '.join(filtered_courses) if len(filtered_courses) >= 6 else ''
    return ''  # Return an empty string if it's not a valid course entry

# Apply the function to the 'courses' column
df['Courses'] = df['Courses'].apply(filter_and_replace_courses)

# Remove rows where 'courses' column is empty (less than 6 courses)
df = df[df['Courses'] != '']

# Save the filtered dataframe with abbreviations to a new CSV file
df.to_csv('filtered_courses_abbr.csv', index=False)

# Print the filtered dataframe
print(df)

                                           College Name Genders Accepted  \
0            National Institute of Technology Rourkela             Co-Ed
3                         Birla Institute of Technology            Co-Ed
9     Shanmugha Arts Science Technology Research and...            Co-Ed
10            Indian Institute of Technology Hyderabad             Co-Ed
13                       Lovely Professional University            Co-Ed
...                                                 ...              ...
2808           SD College of Engineering and Technology            Co-Ed
2870                                   Ansal University            Co-Ed
3340                                 Sri Sai University            Co-Ed
3477                      Sunrise Group of Institutions            Co-Ed
4282    Stallion College For Engineering and Technology            Co-Ed

     Campus Size Total Student Enrollments Total Faculty Established Year  \
0      647 Acres                      4811           329             2007
3      980 Acres                      4506           284             1955
9      232 Acres                      9838           750             2001
10     576 Acres                       NaN           190             2008
13     600 Acres                     47579          2200             2005
...          ...                       ...           ...              ...
2808         NaN                       NaN            98             1997
2870    14 Acres                      2172           150             2012
3340   250 Acres                       943            81             2011
3477    11 Acres                       NaN           135             2003
4282         NaN                       NaN           121             2010

     Rating                                        University  \
0      3.12                                               NaN
3       NaN                                               NaN
9      3.54                                               NaN
10      NaN                                               NaN
13      NaN                                               NaN
...     ...                                               ...
2808    NaN  Dr APJ Abdul Kalam Technical University, Lucknow
2870    NaN                                               NaN
3340    NaN                                               NaN
3477    NaN              Rajasthan Technical University, Kota
4282    NaN  Dr APJ Abdul Kalam Technical University, Lucknow

                                                Courses  \
0     BT_ME, BT_CSE, BT_EE, BT_CE, BT_ECE, BT_ChemE,...
3     BT_ECE, BT_ME, BT_ChemE, BT_CE, BT_CSE, BT_ECE...
9     BT_CSE, BT_ECE, BT_ECE, BT_ChemE, BT_CE, BT_CS...
10      BT_CSE, BT_EE, BT_ME, BT_CE, BT_ChemE, MT_ChemE
13        BT_ChemE, BT_CE, BT_CSE, BT_EE, BT_ECE, BT_ME
...                                                 ...
2808      BT_CSE, BT_EE, BT_ECE, BT_ME, BT_ChemE, BT_CE
2870  BT_CE, BT_ME, BT_CE, BT_ME, BT_CE, BT_ME, BT_C...
3340  BT_CE, BT_CSE, BT_EE, BT_ECE, BT_ME, BT_CE, BT...
3477      BT_CE, BT_ME, BT_ChemE, BT_CSE, BT_EE, BT_ECE
4282      BT_ChemE, BT_CE, BT_CSE, BT_EE, BT_ECE, BT_ME

                                             Facilities           City  \
0     Boys Hostel, Girls Hostel, Gym, Library, Sport...       Rourkela
3     Boys Hostel, Girls Hostel, Gym, Library, Sport...         Ranchi
9     Boys Hostel, Girls Hostel, Gym, Library, Sport...      Thanjavur
10    Boys Hostel, Girls Hostel, Gym, Library, Sport...      Hyderabad
13    Boys Hostel, Girls Hostel, Gym, Library, Sport...       Phagwara
...                                                 ...            ...
2808  Boys Hostel, Girls Hostel, Gym, Library, Sport...  Muzaffarnagar
2870  Boys Hostel, Girls Hostel, Gym, Library, Sport...       Gurugram
3340  Boys Hostel, Girls Hostel, Library, Sports, Ca...         Gangoh
3477  Boys Hostel, Girls Hostel, Library, Sports, Ca...        Udaipur
4282  Boys Hostel, Girls Hostel, Library, Sports, Ca...    Chhutmalpur

                 State Country       College Type       Average Fees
0               Odisha   India  Public/Government           350600.0
3            Jharkhand   India            Private  596686.0465116279
9           Tamil Nadu   India            Private  415918.0327868852
10           Telangana   India  Public/Government  288884.5945945947
13              Punjab   India            Private  423667.1768707483
...                ...     ...                ...                ...
2808     Uttar Pradesh   India            Private           172000.0
2870           Haryana   India            Private  731392.8571428572
3340  Himachal Pradesh   India            Private  184481.0810810811
3477         Rajasthan   India            Private  181692.3076923077
4282     Uttar Pradesh   India            Private           212000.0

[112 rows x 15 columns]

In [20]:
df = pd.read_csv("filtered_courses_abbr.csv")
df_courses = df[['College Name', 'Courses']].copy()
df_courses = df_courses.assign(Courses=df_courses['Courses'].str.split(',')).explode('Courses')

df_courses.to_csv('transformed_courses.csv', index=False)